.equipo {
  position: relative;
}

.equipo .card .card-image .card-title {
  line-height: 15px;
  min-height: 20%;
  transition: all 0.2s ease-in-out;
  transition-delay: 0.2s;
  z-index: 10;
}

.equipo .card .card-image .card-title sub {
  font-size: 0.9rem;
  letter-spacing: 1px;
}

.equipo .card .card-image .sub-content {
  position: absolute;
  right: 0;
  top: 0;
  background-color: rgba(23, 23, 23, 0.8);
  width: 30%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-in-out;
}

.equipo .card .card-image .sub-content div {
  width: 100%;
  position: relative;
  z-index: 10;
}

.equipo .card .card-image .sub-content div * {
  margin: 0 0 10px 0;
}

.equipo .card .card-image .sub-content a {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  display: block;
}

.equipo .card .card-image .sub-content h5 {
  font-size: 1.3rem;
  word-wrap: break-word;
}

.equipo .card .card-image .sub-content p {
  font-size: 0.9rem;
  max-height: 100px;
  overflow: hidden;
}

.equipo .card:hover .card-image .sub-content {
  width: 100%;
  align-items: flex-end;
  padding: 10px 24px;
  transition: width 0.2s ease-in-out, padding 0.5s ease-in-out,
    align-items 0.5s ease-in-out;
  transition-delay: 0.1s;
}

.equipo .card .card-image .card-title {
  max-width: calc(100% - 30%);
}

.equipo .card .card-image .card-title p {
  padding: 5px 0;
  box-sizing: border-box;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.equipo .card:hover .card-image .card-title {
  max-width: 100%;
  min-height: 100%;
  transition: min-height 0.2s ease-in-out;
}

.equipo .card .card-image img {
  transition-delay:.3s; 
}

.equipo .card:hover .card-image img {
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
}

button[data-controls] {
  border: 0;
  padding: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  height: inherit;
  margin-top: -18px;
  z-index: 100;
  background: transparent;
}

button[data-controls] span {
  font-size: 5rem;
  color: rgba(0, 0, 0, 0.5);
}

button[data-controls="prev"] {
  left: -10px;
  transition: all ease 0.2s;
}

button[data-controls="prev"]:hover {
  left: -20px;
}

button[data-controls="prev"]:hover span {
  color: rgba(0, 0, 0, 0.8);
}

button[data-controls="next"] {
  right: -10px;
  transition: all ease 0.2s;
}

button[data-controls="next"]:hover {
  right: -20px;
}

button[data-controls="next"]:hover span {
  color: rgba(0, 0, 0, 0.8);
}
