.circle-item {
    width: 200px;
    height: 200px;
    z-index: 10;
    margin: 0 auto 20px;
    border-radius: 100%;
    position: relative;
    cursor: pointer;
}

.circle-item .mascara-image {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
    align-items: center;
    display: flex;
    justify-content: center;
}

.circle-item::before,
.circle-item::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border: 6px solid rgba(255, 255, 255, 0);
    z-index: 10;
    top: 0;
    display: block;
    transform: scale(1);
    transition: border-color ease .1s, transform ease-in-out .2s;
}

.circle-item::before {
    border-left: 6px solid #FF8004;
    border-right: none;
    left: -4px;
}

.circle-item::after {
    border-left: none;
    border-right: 6px solid #FF8004;
    right: -4px;
}

.circle-item:hover::before,
.circle-item:hover::after {
    transform: scale(1.05);
    left: 0;
    right: 0;
    margin: auto;
    border-color: #FF8004;
    transition: border-color .2s ease-in-out .2s, transform .2s ease-in-out;
}

.circle-item img {
    height: 100%;
    position: relative;
    z-index: 1;
}