@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,300;1,700&display=swap');
h1,
h2,
h3,
h4,
h5,
p,
.row {
    margin: 0 0
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Titillium Web', sans-serif;
}

body,
a,
p {
    font-family: 'Rajdhani', sans-serif;
}

a {
    color: #FF8004
}

.no-shadow {
    box-shadow: none;
}

.btn-flat:hover {
    background-color: transparent;
}

.border-btn {
    position: relative;
}

.border-btn::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: rgba(0, 0, 0, .5);
    transform-origin: 0% 50%;
    transform: scaleX(0);
    opacity: 0;
    transition: all ease-in-out .2s;
}

.border-btn.white-text:hover::after {
    background-color: rgba(255, 255, 255, .5);
}

.border-btn:hover::after {
    transform: scaleX(1);
    opacity: 1;
}

.small-top-space {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}

.medium-top-space {
    padding-top: 40px !important;
    padding-bottom: 40px !important;
}

.big-top-space {
    padding-top: 60px !important;
    padding-bottom: 60px !important;
}

@media(max-width:599px) {
    .small-top-space {
        padding-top: 10px !important;
        padding-bottom: 10px !important;
    }
    .medium-top-space {
        padding-top: 20px !important;
        padding-bottom: 20px !important;
    }
    .big-top-space {
        padding-top: 40px !important;
        padding-bottom: 40px !important;
    }
}

@media(min-width:993px) {
    .container {
        width: 90%;
    }
}

.example-spacer {
    flex: 1 1 auto;
}